@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  background-color: black;
  border: 1px, solid, white;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


.task-list {
  background-color: lightslategray;
  max-width: 600px;
  margin: 10 auto;
  padding: 1rem;
}

.task {
  background-color: goldenrod;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}