@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  border: 2px, solid,  black;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.task-list {
  border: 2px, solid, black;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  background-color: lightskyblue;
  border: 1px, solid, black;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.task.active {
  background-color: lightgreen;
  border: 5px solid green;
}

.task-form {
  background-color: lightgray;
  max-width: 600px;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.text-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  caret-color: white;
  max-width: 15rem;
}

.time-input {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 10px;
  color: white;
  caret-color: white;
}

.hours, .minutes, .seconds {
  width: 4rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: black;
} 

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.timer-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-width: 1px;
}

.timer-buttons button {
  size: 1.3em;
}

.play-icon, .pause-icon, .restart-icon, .add-icon, .delete-icon {
  font-size: 1.4em;
}

.timer-buttons button:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons button:hover {
  transform: scale(1.5);
  transition: transform 0.2s;
}